<p
  class="codepen"
  data-height="600"
  {%
  if
  include.tabs
  %}
  data-default-tab="{{ include.tabs }}"
  {%
  else
  %}
  data-default-tab="js,result"
  {%
  endif
  %}
  data-slug-hash="{{ include.id }}"
  data-user="{{ include.user | default : 'thinkle-iacs' }}"
  style="
    height: 600px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    margin: 1em 0;
    padding: 1em;
  "
>
  <span
    >See the Pen
    <a href="https://codepen.io/{{include.user | default : 'thinkle-iacs'}}/pen/{{ include.id }}"> Squares</a>
    by Tom Hinkle (IACS) (<a href="https://codepen.io/{{include.user | default : 'thinkle-iacs'}}"
      >@{{include.user | default : 'thinkle-iacs'}}</a
    >) on <a href="https://codepen.io">CodePen</a>.</span
  >
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
